if !isbn
	include nav

script
	editobject = false;
	preisbn = "#{init.isbn}";

h1 Objekt hinzufügen
form(action="javascript:;")
	include objectform
	span.button#submit
		img(src="/gfx/plus.png")
		|Hinzufügen
	span.button#reset
		img(src="/gfx/backspace.png")
		|Zurücksetzen
	if isbn
		span.button#close Schließen
.status
