include nav
h1 Sch端ler hinzuf端gen
form(action="javascript:;")
	include pupilform
	span.button#submit
		img(src="/gfx/plus.png")
		|Hinzuf端gen
	span.button#reset
		img(src="/gfx/backspace.png")
		|Zur端cksetzen
.status
