script
	editobject = true;
h1 Objekt bearbeiten
form(action="javascript:;")
	input(type="hidden", name="_id", value=init._id)
	include objectform
	span.button#submit Speichern
	span.button#reset Zurücksetzen
	span.button#close Schließen
.status
