h1 Schüler bearbeiten
form(action="javascript:;")
	input(type="hidden", name="_id", value=init._id)
	include pupilform
	span.button#submit Speichern
	span.button#reset Zurücksetzen
	span.button#close Schließen
.status
