script
	editobject = true;
h1 Objekt bearbeiten
form(action="javascript:;")
	input(type="hidden", name="_id", value=init._id)
	include objectform
	span.button#submit
		img(src="/gfx/floppy.png")
		|Speichern
	span.button#reset
		img(src="/gfx/backspace.png")
		|Zurücksetzen
	span.button#close
		img(src="/gfx/stop.png")
		|Schließen
.status
