!!!
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/jquery-ui.css')
		link(rel="shortcut icon", href="/gfx/book.png", type="image/png")
		script(type='text/javascript', src= "/javascripts/common.js")
		block scripts
			each script in scripts
				script(type='text/javascript', src= "/javascripts/#{script}")
	body
		div.container!= body
