div.nav
	a(href="/objects") Objekte
	a(href="/objects/new") Objekt hinzufügen
	a(href="/pupils") Schüler
	a(href="/pupils/new") Schüler hinzufügen
	a(href="/reminds") Mahnungen
	a(href="/quick") Quickmodus
	a(href="/groups") Gruppen
	a(href="/settings") Einstellungen
	a(href="/print") Barcodes ausdrucken
	a(href="/") Übersicht
	if !User
		a(href="/login") Anmelden
	else
		a(href="/logout") Abmelden
	if Auth.mayI("admin", User)
		a(href="/users") Benutzer
