.top(style="background-image:url(/gfx/quick-large-alpha.png);")
	include nav
	h1 Quickmodus

form(action="javascript:;", style="margin-top:6.2em;")
	input(type="text", size="13", maxlength="13", style="font-size: 150%")
h2#pupil
#select
#basket
.status
